/* HEADER SECTION */

header {
    background-color: var(--first-color);
    height: 60px;
    padding-inline: 16px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav {
    display: flex;
    gap: 16px;
  }
  
  .nav-btn {
    background-color: transparent;
    color: var(--last-color);
    border-radius: 4px;
    padding: 8px;
  
    cursor: pointer;
    text-decoration: none;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .nav-btnh:hover {
    background-color: var(--second-color);
  }
  
  .circle-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle-btn img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  
  .logo {
    font-weight: bold;
    font-size: 20px;
  }