:root {
  --first-color: #211951;
  --second-color: #836fff;
  --third-color: #15f5ba;
  --last-color: #f0f3ff;
}

body {
  background-color: var(--second-color);
  color: var(--last-color);
}

.app-section {
  width: 80vw;
  max-width: 640px;
  margin: 20vh auto;
  padding: 40px;

  background-color: var(--first-color);
  border-radius: 8px;
}

@media screen and (max-width: 500px) {
  .app-section {
    padding: 20px;
  }
}
