:root {
  --first-color: #f4f4f4;
  --second-color: #f0a500;
  --third-color: #cf7500;
  --last-color: #1a1c20;
}

/* Стиль для всього сайту */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid black; */
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
  color: var(--last-color);
}

a {
  text-decoration: none;
  color: var(--last-color);
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

input {
  border: 0;
  background-color: transparent;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
}

select:focus {
  outline: none;
}

select,
option {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  text-align: center;
}

/*================== Components =================*/

header {
  background-color: var(--first-color);
  height: 48px;
  width: 100%;
  padding: 0 12px;
  box-shadow: 0 0.1px 4px var(--last-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

/* Sidebar */

.sidebar {
  background-color: var(--first-color);
  box-shadow: 0.1px 0px 4px var(--last-color);
  width: 292px;
  height: calc(100vh - 48px);
  padding: 12px 0;

  position: fixed;
  top: 48px;
  left: -292px;

  transition: left 0.3s ease;
  z-index: 99;
}

.sidebar.open {
  left: 0;
}

.dimming {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;

  transition: opacity 0.3s ease;
  z-index: 98;
  pointer-events: none;
}

.dimming.open {
  opacity: 1;
  pointer-events: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  height: 44px;
}

.indented-header {
  padding-top: 48px;
}

/*================== End Components =================*/

/*================== Todo List Components ================= */

.todo {
  display: grid;
  grid-template-columns: 2fr 40px 40px 1fr 1fr;
}

.todo > * {
  border: 1px solid var(--last-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.todo p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.title {
  width: calc(25vw - 80px);
}
/*================== End Todo List Components ================= */

.circle-32 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.circle-40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box-40 {
  width: 40px;
  height: 40px;
}

.box-24 {
  width: 24px;
  height: 24px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.tetx-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.space-between {
  justify-content: space-between;
}

.p-12 {
  padding: 12px;
}

.p-h-12 {
  padding: 0 12px;
}

.m-v-12 {
  margin: 12px 0;
}

.gap-12 {
  gap: 12px;
}

.font-16 {
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

.border-b-1-grey {
  border-bottom: 2px solid #e0e0e0;
}

.border-1 {
  border: 1px solid var(--last-color);
}

.full-size {
  width: 100%;
  height: 100%;
}

.ws-50 {
  width: 50%;
}

.ws-100 {
  width: 100%;
}

.h-40 {
  height: 40px;
}

/*================== Custom color =================*/

.soft-red {
  background-color: #f28585;
}

.soft-orange {
  background-color: #ffa447;
}

.soft-green {
  background-color: #b7e5b4;
}

.col-neon-violet {
  background: linear-gradient(
    to right,
    var(--third-color),
    var(--second-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-grey:hover {
  background-color: #e0e0e0;
}

/*================== End Custom color =================*/
