:root {
  --first-color: #f4f4f4;
  --second-color: #f0a500;
  --third-color: #cf7500;
  --last-color: #1a1c20;
}

* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid black; */
}

body,
html {
  min-height: 100vh;
  width: 100vw;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--first-color);
  color: var(--last-color);
}

a {
  text-decoration: none;
  color: var(--last-color);
}

/*================== Components =================*/

header {
  background-color: var(--first-color);
  height: 48px;
  width: 100%;
  padding: 0 12px;
  box-shadow: 0 0.1px 4px var(--last-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}

/* Sidebar */

.sidebar {
  background-color: var(--first-color);
  box-shadow: 0.1px 0px 4px var(--last-color);
  width: 292px;
  height: calc(100vh - 48px);
  padding: 12px 0;

  position: fixed;
  top: 48px;
  left: -292px;

  transition: left 0.3s ease;
  z-index: 99;
}

.sidebar.open {
  left: 0;
}

.dimming {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;

  transition: opacity 0.3s ease;
  z-index: 98;
  pointer-events: none;
}

.dimming.open {
  opacity: 1;
  pointer-events: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list li {
  height: 44px;
}

/*================== End Components =================*/

.circle-32 {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.circle-40 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box-40 {
  width: 40px;
  height: 40px;
}

.box-24 {
  width: 24px;
  height: 24px;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.full-size {
  width: 100%;
  height: 100%;
}

.p-h-12 {
  padding: 0 12px;
}

.gap-12 {
  gap: 12px;
}

.font-16 {
  font-size: 1.2rem;
}

.pointer {
  cursor: pointer;
}

.border-b-1 {
  border-bottom: 2px solid #e0e0e0;
}

/*================== Custom color =================*/

.col-neon-violet {
  background: linear-gradient(
    to right,
    var(--third-color),
    var(--second-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-grey:hover {
  background-color: #e0e0e0;
}

/*================== End Custom color =================*/
