.timer {
  font-size: 5rem;
  font-weight: bold;
}

.timer-btn-wrapper {
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.timer-btn {
  color: var(--last-color);
  font-size: 48px;

  background-color: transparent;
  border: 0;
  padding: 8px;

  width: 60px;
  height: 60px;

  cursor: pointer;
}

/* TODO WRAPPER SECTION */

/* TODO FORM SECTION */

.todo-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.todo-form input,
.todo-form button {
  padding: 12px;

  border: 1px solid var(--second-color);
  color: var(--last-color);
}

.todo-form input {
  border-radius: 4px 0 0 4px;
  background-color: transparent;
}

.todo-form button {
  cursor: pointer;

  border-radius: 0 4px 4px 0;
  background-color: var(--second-color);
}

.todo-form button:hover {
  background-color: var(--last-color);
  color: var(--first-color);
}

/* TODO LIST SECTION */

.todo-list {
  display: grid;
  gap: 20px;
}

.todo {
  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: var(--second-color);
  border-radius: 4px;
}

.todo .todo-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.todo .todo-icons > * {
  cursor: pointer;
}

.completed {
  opacity: 0.6;
  text-decoration: line-through;
}
